@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=ZCOOL+KuaiLe&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	height: 100%;
}

@media (min-width: 1200px) {
.grid-container {
	display: grid;
	gap: 3px;
	grid-template: 
	"header header header" 100px
	"navbar navbar navbar " 50px
	"contenido contenido contenido"	280px
	"info info info" 100px
	"registro registro registro" 50px
	"footer footer footer" 40px
	;
}

body {
	background-image: url(pattern.jpg);
}

header {
	font-family: 'ZCOOL KuaiLe', cursive;
		text-align: center;
	background-image: linear-gradient(rgb(92, 124, 40 ) 0%, rgb(95, 138, 43 ) 50%, rgb(110, 159, 51) 100%);
}

header a {
	text-decoration: none;
	color: #ffffff;	
	text-shadow: 5px 5px 5px #242917;
	padding: 10px;
	font-size: 40px;
	margin-top: 40px;
}

.header{
	grid-area: header;	
}

nav {
	background-color: #000000;
	font-family: 'Roboto Slab', serif;
	height: 40px;
}

li {
	display: inline;
}

nav a {
	color: #ffffff;
	font-size: 20px;
	text-decoration: none;
	text-align: center;
	padding-left: 300px;
}

.navbar{
	grid-area: navbar;
}

#contenido {
	grid-area: contenido;
	grid-gap: 20px;
	height: 300px;
}

.hola {
	background-color: #8BD65A;
	width: 500px;
	margin-left: 500px;
	padding-top: 90px;
}

.hola p {
	text-align: center;
	font-family: 'Roboto Slab', serif;
	padding-bottom: 103px;
	font-size: 20px;
}
.color {
	color: #092FCF;
}

.foto {
	position: absolute;
	padding-top: 80px;
	padding-left: 950px;
}

#info {
	grid-area: info;
	background-image: linear-gradient(rgb(22, 139, 15 ) 0%, rgb(16, 139, 60 ) 50%, rgb(13, 113, 70 ) 100%);
	width: 40%;
	height: 300px;
}

#info li {
	color: #54FF62;
	font-family: 'Roboto Slab', serif;
	font-size: 25px;
	text-align: left;
	padding-left: 100px;
	padding-top: 50px;
}

#imagenes {
	float: right;
	background-color: #000000;
	width: 60%;
	margin-top: -300px;
	height: 300px;
}
.imagen {
	margin-left: 50px;
	margin-top: 20px;

}

.imagen2 {
	margin-left: 480px;
	margin-top: -260px;
}

.registro {
	grid-area: registro;
	width: 100%;

	position: absolute;
}

form {
	background-color: #AAE58C;
	width: 50%;
	margin-right: auto;
	margin-left: 100px;
	margin-top: 20px;
	padding: 2%;
	border-radius: 30px;
	height: 250px;
}

.titulo {
	font-family: 'Roboto Slab', serif;
	color: #000000;
	padding: 2px;
}

.cajas {
	font-family: 'Roboto Slab', serif;
	width: 60%;
	height: 25px;
	border-color: #0D8F2E;
	background-color: #FDFFEC;
	border-radius: 5px;
}

.gif {
	margin-left: 1000px;
	margin-top: -350px;
}

footer {
	background-color: #000000;
	font-family: 'Roboto Slab', serif;
	width: 100%;
	margin-top: 300px;
	position: absolute;
	height: 100px;
}
.footer {
	grid-area: footer;
}

.logoUP {
	padding-top: 10px;
	padding-left: 100px;
}

.nombre {
	padding-top: 30px;
	padding-left: 670px;
	margin-top: -70px;
}
.nombre a {
	text-decoration: none;
	color: #ffffff;
	font-size: 15px;
}

.serie {
	margin-top: -50px;
	padding-left: 1230px;
}

.container {
	padding-top: 20px;
	height: 400px;
	padding-left: 150px;
}

ul, li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.slider {
	position: relative;
	width: 600px;
	height: 400px;
}

ul.slider li {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: inherit;
	height: inherit;
	transition: opacity .5s;

}

ul.slider li img {
	width: 100%;
	height: 400px;
	object-fit: cover;

}

ul.slider li:first-child {
	opacity: 1;
}

ul.slider li:target {
	opacity: 1;
}

.menu {
	text-align: center;
	margin: 20px;
	margin-left: -470px;
	margin-right: -1000px;
	margin-top: -130px;
}

.menu li {
	display: inline;
	text-align: center;

	padding-bottom: 400px;
}

.menu li a {
	display: inline-block;
	color: white;
	text-decoration: none;
	background-color: #92C35D;
	padding:8px;
	width: 40px;
	height: 40px;
	font-size: 20px;
	border-radius: 100%;
	font-family: 'Roboto Slab', serif;
}


.texto {
	background-color: #C0FF7C;
	height: 300px;
	margin-top: -340px;
}

.texto p {
	font-family: 'Roboto Slab', serif;
	font-size: 30px;
	text-align: center;
	padding-top: 80px;
	margin-left: 700px;
}


.cursos {
	background-color: #3ECE42;
	width: 1000px;
	height: 250px;
	margin-top: 20px;
	padding: 10px;
	margin-left: 250px;
	column-count: 5;
	column-gap: 50px;
	column-rule: 3px solid #ffffff;
	border: 2px solid #000000;
	border-radius: 10px;
}

.cursos h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	padding: 10px;
}

.cursos p {
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	color: #107331;
	padding: 10px;
}

#video {
	padding-top: 30px;
	padding-left: 150px;
}

#png {
	position: absolute;
	padding-top: 130px;
	padding-left: 660px;
}

.acerca {
	background-color: #E1FBD2;
	height: 300px;
	margin-top: -300px;
}

.acerca p {
		font-family: 'Roboto Slab', serif;
	font-size: 23px;
	text-align: center;
	padding-top: 80px;
	margin-left: 700px;
}

.acerca a {
	text-decoration: none;
	color: blue;
}

.registro2 {
	padding-top: 10px;
	grid-area: registro;
	width: 100%;
	position: absolute;
}

form {
	background-color: #AAE58C;
	width: 50%;
	margin-right: auto;
	margin-left: 100px;
	margin-top: 20px;
	padding: 2%;
	border-radius: 30px;
	height: 350px;
}

.gif2 {
	margin-left: 1000px;
	margin-top: -300px;
}

.videofinal {
	padding-top: 100px;
	padding-left: 320px;
}

}